@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
  
 



html,body{
    height: 100vw;
    width: 100vw;
    background-color: black;
}

