@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
  
 



html,body{
    height:50vw;
    width: 100vw;
    background-color: black;
}

body{
    background: url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    

}

main{
    height: 50vw;
    position: relative; 
    
}

section#telefone{
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 635px;
    width: 310px;
    
    background: url(pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;
    
}

