@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=PT+Mono&display=swap');



/*
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.pt-mono-regular {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

}*/



:root{/*paleta de cores*/

--cor1: #B8D9B0;
--cor2: #D1D99A;
--cor3: #04BF8A;
--cor4: #A6855D; 
--cor4: #403C27;

--fonte-padrao: "PT Mono", monospace; ;
--fonte-style:"Indie Flower";
  
}
body,html{
  background-color:var(--cor1) ;
  height:90vh;
  width: 90vw;
}

main > section#login > div#imagem{
  margin-right: 10px;
  background: url(../imagens/pexels-cesar-o-neill-26650613-32886456.jpg) no-repeat;
  display: block;
  height: 200px;
  background-size: cover;
 border-top-right-radius: 10px;
}

main >section#login{
  background-color: white;
  width: 300px;
  height: 600px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: width 1s, height 1s;


}
main > section > div > h1{
    font-family: var(--fonte-padrao);
    color:var(--cor4);
   
}

main > section > div > p#login{
    font-family:var(--fonte-padrao);
    font-size: 1.3em;
    color:var(--cor4);
    padding-bottom: 10px;
    
    
}

main > section > div > p#l7{
    line-height: 10px;
    font-family:var(--fonte-style);
    font-size: 1.3em;
   color: var(--cor4);
 
}
input{
  border: 1px solid black;
  
}
div#sub{
  padding-top: 20px;
  padding-left: 40px;
 
}

form > div#sub > input[type=submit]{
  display: block;
  text-align: center;
  width: 80%;
  height: 40px;
  font-size: 1.1em;
  background-color: #403c27cf
}

div.redirecionar{
padding: 5px;
padding-left: 0px;
text-align: center;

}

div#cadastro{
  
  padding-left: 130px; /*130*/
}


 form >div.redirecionar >a.botao{
  padding-top: 10px;
 display: block;
  text-align: center;
  width: 69.5%;
  height: 30px;
  
  


}




